[data-theme='1'] {
    --color: rgba(0, 0, 0, 1);
    --background: rgba(255, 255, 255, 1);
}

[data-theme='2'] {
    --color: rgba(0, 0, 0, 1);
    --background: rgba(221, 238, 255, 1);
}

[data-theme='3'] {
    --color: rgba(255, 255, 255, 1);
    --background: rgba(33, 42, 52, 1);
}

[id*='hw12'] {
    background-color: var(--background);
    color: var(--color);
}

.select {
    display: inline-block;
    margin: 100px 0 150px 70px;
}
