[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

[id*='hw12'] {
    background-color: var(--background);
    color: var(--color);
}

.select {
    display: inline-block;
    margin: 100px 0 150px 70px;
}
