.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

}

.clock {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 62px 70px;

}

.watch {
    max-width: 285px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 8px;
}

.watch strong {
    padding-left: 102px;

}

.more {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    margin-bottom: 27px;
}


